<!DOCTYPE html>
<!--
	Copyright (C) 2021, Wanderer's Guide, all rights reserved.
    By Aaron Cassar.
-->
<html lang="en-US">

<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- Bulma -->
	<link rel="stylesheet" href="/css/bulma/bulma.min.css">
	<link rel="stylesheet" href="/css/bulma/bulma-steps.min.css">
	<script src="/js/bulma/bulma-steps.min.js"></script>
	<link rel="stylesheet" href="/css/bulma/bulma-tooltip.min.css">
	<link rel="stylesheet" href="/css/bulma/bulma-accordion.min.css">
	<script src="/js/bulma/bulma-accordion.min.js"></script>
	<link rel="stylesheet" href="/css/bulma/bulma-divider.min.css">
	<link rel="stylesheet" href="/css/bulma/bulma-quickview.min.css">
	<script src="/js/bulma/bulma-quickview.min.js"></script>
	<link rel="stylesheet" href="/css/bulma/bulma-checkradio.min.css">
	<link rel="stylesheet" href="/css/bulma/bulma-badge.min.css">
	<link rel="stylesheet" href="/css/bulma/bulma-switch.min.css">
	<link rel="stylesheet" href="/css/bulma/bulma-radio-checkbox.min.css">
	<link rel="stylesheet" href="/css/bulma/bulma-tagsinput.min.css">
	<script src="/js/bulma/bulma-tagsinput.min.js"></script>

	<!-- Keywords -->
	<meta name="keywords" content="wanderer's guide,wanderers guide,wanderers,wanderer's,guide,pathfinder second edition,pathfinder 2e,character manager,character builder,pf2e,pf 2e" />

	<!-- Bootstrap-Core -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-4-utilities.min.css">
  	
	<!-- Font-Awesome-Icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>

	<!-- General Styles -->
	<link rel="stylesheet" href="/css/core/system-styles.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/pageloader.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/chosen/chosen.css" type="text/css" media="all" />

	<link rel="stylesheet" href="/css/core/bulma-extension.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/core/fonts.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/core/modals.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/core/quickviews.css" type="text/css" media="all" />

	<!-- General Utils -->
	<script type="text/javascript" src="/js/general-utils.js"></script>
  <script type="text/javascript" src="/js/cache-storing.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.0/math.js"></script>

  <!-- Loading Bars/Spinners -->
  <link rel="stylesheet" href="/css/loading-bar.css">
  <script src="/js/loading_bar/loadingHandler.js"></script>
  <script src="/js/loading_bar/loading-bar.js"></script>

  <!-- Quill JS -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="/css/quill.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

	<!-- Web-Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

	<!-- Socket IO -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/jQuery/jquery.ui.touch-punch.min.js"></script>
  <script src="/js/jQuery/chosen.jquery.min.js"></script>

	<!-- Mobile View Message -->
	<script type="text/javascript" src="/js/mobile-view.js"></script>

  <!-- PDF Lib -->
  <script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script>
  <script src="https://unpkg.com/downloadjs@1.4.7"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>

	{{{_sections.header}}}

</head>

<body>

	<div id="main-container">

		<div id="main-top">
			<header>
				<div class="container-fluid">
					<div class="header d-md-flex justify-content-between align-items-center pt-1 pr-5">
						<div>
							<a href="/"><img src="/images/logo.png" style="height:50px;" alt="Wanderer's Guide"></a>
							<sup class="is-inline has-text-grey-lighter is-size-6 pl-1 font-bebas-neue">Beta 1.4.9</sup>
						</div>

						<div>
							<nav>

                <a class="icon is-medium nav-menu-toggle">
                  <i class="fa fa-2x fa-bars"></i>
                </a>
                <div id="mobile-nav-menu-container"></div>

								<ul class="nav-menu pt-1">
									{{{_sections.nav_home}}}
					
									<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/#about_wanderers_guide">About Us</a></li>

									{{#if user}}
									{{{_sections.nav_characters}}}

									{{{_sections.nav_homebrew}}}
									{{/if}}

									{{{_sections.nav_browse}}}
									
									{{#if user}}
										<li class="mr-4">
											<a href="#" id="nav-profile-picture">
												<object class="profile-header-icon" data="{{user.thumbnail}}" type="image/png">
													<img class="profile-header-icon" src="/images/fb_profile_pic.png" alt="Profile Image">
												</object>
											</a>
											<ul>
												<li><a href="/profile" class="drop-text"><i class="fas fa-user-circle"></i> Account </a></li>
												{{#ifEqual user.isAdmin 1}}
													<li><a href="/admin/panel" class="drop-text"><i class="fas fa-tools"></i> Admin Panel </a></li>
												{{/ifEqual}}
                        <li><a href="https://discord.gg/kxCpa6G" target="_blank" class="drop-text"><i class="fab fa-discord"></i> Discord<sup class="icon is-small"><i class="fas fa-xs fa-external-link-alt"></i></sup></a></li>
												<li><a href="https://www.patreon.com/wanderersguide" target="_blank" class="drop-text"><i class="fab fa-patreon"></i> Patreon<sup class="icon is-small"><i class="fas fa-xs fa-external-link-alt"></i></sup></a></li>
                        <li><a href="/api_docs" class="drop-text"><i class="fas fa-cog"></i> API Docs </a></li>
												<li><a href="/license" class="drop-text"><i class="fas fa-scroll"></i> License </a></li>
												<li><a href="/auth/logout" class="drop-text"><i class="fas fa-sign-out-alt"></i> Logout </a></li>
											</ul>
										</li>
									{{else}}
										{{{_sections.nav_login}}}
									{{/if}}
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>

			{{{_sections.banner_nav}}}
			
		</div>

		<div class="top-border"></div>
    
		<div id="center-body">
			{{{body}}}
		</div>

		{{{_sections.overlay}}}

		<!-- Pre-Load Fonts -->
		<div class="font_preload" style="opacity: 0">
			<span class="pf-icon"></span>
		</div>
		
		<footer id="wanderers-guide-footer">
			<div class="cpy-right text-center py-3">
				<p class="text-center is-size-7">
					Wanderer's Guide<sup class="icon is-small"><i class="fas fa-xs fa-trademark"></i></sup>
					<span class="has-text-grey-dark"> | </span>
					<a href="/license" target="_blank">Licenses and Policies</a>
					<span class="has-text-grey-dark"> | </span>
					<a class="has-tooltip-top" data-tooltip="wanderersguide2e@gmail.com"><sub class="icon is-small"><i class="far fa-lg fa-envelope"></i></sub></a>
					<span class="has-text-grey-dark"> | </span>
					<a href="https://discord.gg/kxCpa6G" target="_blank"><sub class="icon is-small"><i class="fab fa-lg fa-discord"></i></sub></a>
					<span class="has-text-grey-dark"> | </span>
					<a href="https://www.patreon.com/wanderersguide" target="_blank"><sub class="icon is-small"><i class="fab fa-lg fa-patreon"></i></sub></a>
				</p>
			</div>
		</footer>

	</div>

</body>

</html>