
{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="container">
    <h1>Weapon (Item) Builder</h1>

    <form action="/admin/create/item/weapon/add" method="POST">
        <div class="input-group">
            <label for="weaponName">Weapon Name</label>
            <input type="text" name="weaponName" maxlength="45" required>
        </div>
        <div class="input-group">
            <label for="weaponPrice">Weapon Price (in sp)</label>
            <input type="number" name="weaponPrice" min="0" value="0" step="0.1" required>
        </div>
        <div class="input-group">
            <label for="weaponBulk">Weapon Bulk</label>
            <input type="number" name="weaponBulk" min="0" value="0" step="0.1" required>
        </div>
        <div class="input-group">
            <label for="selectHands">Hands Required</label>
            <select name="weaponHandsType">
                {{#each weaponHandsTypes}}
                    <option value="{{this}}" {{chooseSelection ../selectedState}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group">
            <label for="selectWeaponTypes">Weapon Properties</label>
            <select name="weaponPropertyIDs" multiple>
                {{#each weaponProperties}}
                    <option value="{{id}}" {{chooseSelection ../selectedState}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="damage-input">
            <h3>Damage</h3>
            <div class="input-group">
                <label for="numDice">Dice #</label>
                <input type="number" name="numDice" min="1" value="1" required>
                <br>
                <label for="dieType">Die Type</label>
                <select name="dieType">
                    {{#each dieTypes}}
                        <option value="{{this}}" {{chooseSelection ../selectedState}}>{{this}}</option>
                    {{/each}}
                </select>
                <label for="damageType">Damage Type</label>
                <select name="damageType">
                    {{#each damageTypes}}
                        <option value="{{this}}" {{chooseSelection ../selectedState}}>{{this}}</option>
                    {{/each}}
                </select>
                <label for="damageSubType">Damage Sub-Type</label>
                <select name="damageSubType">
                    {{#each damageSubTypes}}
                        <option value="{{this}}" {{chooseSelection ../selectedState}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="melee-input">
            <h3>Melee Weapon?</h3>
            <div class="input-group">
                <label for="meleeWeaponType">Melee Weapon Type</label>
                <select name="meleeWeaponType">
                    {{#each meleeWeaponTypes}}
                        <option value="{{this}}" {{chooseSelection ../selectedState}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="ranged-input">
            <h3>Ranged Weapon?</h3>
            <div class="input-group">
                <label for="rangedWeaponType">Ranged Weapon Type</label>
                <select name="rangedWeaponType">
                    {{#each rangedWeaponTypes}}
                        <option value="{{this}}" {{chooseSelection ../selectedState}}>{{this}}</option>
                    {{/each}}
                </select>
                <br>
                <label for="rangedRange">Range</label>
                <input type="number" name="rangedRange" min="5" value="5" step="5" required>
                <br>
                <label for="rangedReload">Reload</label>
                <input type="number" name="rangedReload" min="0" value="0" required>
            </div>
        </div>
        <div class="input-group">
            <label for="weaponDescription">Weapon Description</label>
            <textarea name="weaponDescription" rows="10" cols="30"></textarea>
        </div>

        <input type="submit" value="Create" class="btn btn-reverse">
    </form>

</div>