
{{#section 'header'}}
    <link rel="stylesheet" href="/css/char-builder.css">
    <script type="text/javascript" src="/js/char_builders/char-builder-1.js"></script>
    
    <script type="text/javascript" src="/js/wsc/text-processing.js"></script>
    <script type="text/javascript" src="/js/wsc/errorHandling.js"></script>

    <script type="text/javascript" src="/js/char_builders/top-stickies.js"></script>
    <script type="text/javascript" src="/js/char_builders/utils.js"></script>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters" class="active">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_browse'}}
    <li class="mr-lg-4 mr-md-3"><a href="/browse"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="pageloader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div class="sticky_buttons_shell sticky_button_right">
    <button class="button is-info is-rounded sticky_button" id="nextButton">
        <span class="icon">
            <i class="fas fa-arrow-right"></i>
        </span>
    </button>
</div>

{{#if isPlayable}}
    <div class="sticky_buttons_shell sticky_button_rightest">
        <span class="icon is-medium has-text-info cursor-clickable sticky_button is-upper has-tooltip-left" data-tooltip="Go to Sheet" id="goToCharButton">
            <i class="fas fa-2x fa-address-card"></i> 
        </span>
    </div>
{{/if}}

<div id="char-builder" class="container py-4 text-center">

    <div id="errorDisplay" class="hero is-danger is-hidden">
        <div class="hero-body is-paddingless py-3">
            <div id="errorMessage" class="container"></div>
        </div>
    </div>

    <div class="box">

        <h1 class="title is-1 font-forum has-text-grey-light">Character Builder</h1>

        <div class="steps">
            <div class="step-item is-active is-info">
                <div class="step-marker">
                <a href="page1?"><span class="icon"><i class="fa fa-user-alt"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page1?" class="button is-rounded is-inverted is-info"><p class="step-title">Basics</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker"><a href="page2?"><span class="has-text-bck-color">A</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page2?" class="button is-rounded is-inverted is-info"><p class="step-title">Ancestry</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker"><a href="page3?"><span class="has-text-bck-color">B</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page3?" class="button is-rounded is-inverted is-info"><p class="step-title">Background</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker"><a href="page4?"><span class="has-text-bck-color">C</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page4?" class="button is-rounded is-inverted is-info"><p class="step-title">Class</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">
                <a href="page5?"><span class="has-text-bck-color icon"><i class="fa fa-flag"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page5?" class="button is-rounded is-inverted is-info"><p class="step-title">Finalize</p></a>
                </div>
            </div>
        </div>

        <div class="columns py-2">
            <div class="column is-4 is-offset-4">

                <div class="columns">
                    <div class="column is-10">

                        <div>
                            <h5>Character Name</h5>
                        </div>
                        <div class="field">
                            <div id="charNameControlShell" class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Name" id="charName" maxlength="28" value="{{character.name}}" style="text-align:center;">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i id="charNameSideIcon" class="fas fa-exclamation-triangle is-hidden"></i>
                                </span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="column">

                        <div>
                            <h5>Level</h5>
                        </div>
                        <div class="select">
                            <select id="charLevel" name="charLevel">
                                <option value="1" {{chooseSelection 1 character.level}}>1</option>
                                <option value="2" {{chooseSelection 2 character.level}}>2</option>
                                <option value="3" {{chooseSelection 3 character.level}}>3</option>
                                <option value="4" {{chooseSelection 4 character.level}}>4</option>
                                <option value="5" {{chooseSelection 5 character.level}}>5</option>
                                <option value="6" {{chooseSelection 6 character.level}}>6</option>
                                <option value="7" {{chooseSelection 7 character.level}}>7</option>
                                <option value="8" {{chooseSelection 8 character.level}}>8</option>
                                <option value="9" {{chooseSelection 9 character.level}}>9</option>
                                <option value="10" {{chooseSelection 10 character.level}}>10</option>
                                <option value="11" {{chooseSelection 11 character.level}}>11</option>
                                <option value="12" {{chooseSelection 12 character.level}}>12</option>
                                <option value="13" {{chooseSelection 13 character.level}}>13</option>
                                <option value="14" {{chooseSelection 14 character.level}}>14</option>
                                <option value="15" {{chooseSelection 15 character.level}}>15</option>
                                <option value="16" {{chooseSelection 16 character.level}}>16</option>
                                <option value="17" {{chooseSelection 17 character.level}}>17</option>
                                <option value="18" {{chooseSelection 18 character.level}}>18</option>
                                <option value="19" {{chooseSelection 19 character.level}}>19</option>
                                <option value="20" {{chooseSelection 20 character.level}}>20</option>
                            </select>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box p-2">
        <div>
            <h4>Ability Scores</h4>
            <p style="font-style: italic;">(usually keep all as 10's)</p>
        </div>
        <div class="d-flex justify-content-center pb-2">
            <div class="p-1">
                <h3>STR</h3>
                <input class="input abilScoreSet" type="number" name="abilSTR" id="abilSTR" min="0" max="30" value="{{charAbilities.STR}}" >
            </div>
            <div class="p-1">
                <h3>DEX</h3>
                <input class="input abilScoreSet" type="number" name="abilDEX" id="abilDEX" min="0" max="30" value="{{charAbilities.DEX}}" >
            </div>
            <div class="p-1">
                <h3>CON</h3>
                <input class="input abilScoreSet" type="number" name="abilCON" id="abilCON" min="0" max="30" value="{{charAbilities.CON}}" >
            </div>
            <div class="p-1">
                <h3>INT</h3>
                <input class="input abilScoreSet" type="number" name="abilINT" id="abilINT" min="0" max="30" value="{{charAbilities.INT}}" >
            </div>
            <div class="p-1">
                <h3>WIS</h3>
                <input class="input abilScoreSet" type="number" name="abilWIS" id="abilWIS" min="0" max="30" value="{{charAbilities.WIS}}" >
            </div>
            <div class="p-1">
                <h3>CHA</h3>
                <input class="input abilScoreSet" type="number" name="abilCHA" id="abilCHA" min="0" max="30" value="{{charAbilities.CHA}}" >
            </div>
        </div>
    </div>

    <div class="box p-2 is-marginless">

        <div class="columns is-mobile is-centered">
            <div class="column is-5"> <!-- is-4 -->
                <div class="pb-2">
                    <h4>Content</h4>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-3"></div>
                    <div class="column is-9 text-left">

                        <div class="field">
                            <input id="contentSrc-CRB" type="checkbox" name="contentSrc-CRB" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1" disabled>
                            <label for="contentSrc-CRB">Core Rulebook</label>
                        </div>

                        <div class="field">
                            <input id="contentSrc-ADV-PLAYER-GUIDE" type="checkbox" name="contentSrc-ADV-PLAYER-GUIDE" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-ADV-PLAYER-GUIDE">
                                Advanced Player’s Guide <sup class="is-thin">(incomplete)</sup>
                            </label>
                        </div>

                        <div class="field">
                            <input id="contentSrc-GM-GUIDE" type="checkbox" name="contentSrc-GM-GUIDE" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-GM-GUIDE">
                                Gamemastery Guide <sup class="is-thin">(incomplete)</sup>
                            </label>
                        </div>

                        <div class="pl-4">
                            <p>Lost Omens</p>
                        </div>
                        <div class="field">
                            <input id="contentSrc-LOST-CHAR-GUIDE" type="checkbox" name="contentSrc-LOST-CHAR-GUIDE" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-LOST-CHAR-GUIDE">
                                Lost Omens: Character Guide <sup class="is-thin">(incomplete)</sup>
                            </label>
                        </div>

                        <div class="field">
                            <input id="contentSrc-LOST-GOD-MAGIC" type="checkbox" name="contentSrc-LOST-GOD-MAGIC" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-LOST-GOD-MAGIC">
                                Lost Omens: Gods & Magic <sup class="is-thin">(incomplete)</sup>
                            </label>
                        </div>

                        <div class="field">
                            <input id="contentSrc-LOST-WORLD-GUIDE" type="checkbox" name="contentSrc-LOST-WORLD-GUIDE" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-LOST-WORLD-GUIDE">
                                Lost Omens: World Guide <sup class="is-thin">(incomplete)</sup>
                            </label>
                        </div>

                        <div class="pl-4">
                            <p>Adventure Paths</p>
                        </div>
                        <div class="field">
                            <input id="contentSrc-AGE-OF-ASHES" type="checkbox" name="contentSrc-AGE-OF-ASHES" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-AGE-OF-ASHES">
                                Age of Ashes
                            </label>
                        </div>

                        <div class="field">
                            <input id="contentSrc-EXTINCTION-CURSE" type="checkbox" name="contentSrc-EXTINCTION-CURSE" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-EXTINCTION-CURSE">
                                Extinction Curse <sup class="is-thin">(incomplete)</sup>
                            </label>
                        </div>

                        <div class="field">
                            <input id="contentSrc-FALL-OF-PLAGUE" type="checkbox" name="contentSrc-FALL-OF-PLAGUE" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="contentSrc-FALL-OF-PLAGUE">
                                The Fall of Plaguestone
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="column is-3"> <!-- is-4 -->
                <div class="pb-2">
                    <h4>Homebrew</h4>
                </div>

                <p class="is-italic">Coming soon!</p>

            </div>
            <div class="column is-4">

                <div class="pb-2">
                    <h4>Variants</h4>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-3"></div>
                    <div class="column is-9 text-left">

                        <div class="field">
                            <input id="variantProficiencyWithoutLevel" type="checkbox" name="variantProficiencyWithoutLevel" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="variantProficiencyWithoutLevel">Proficiency Without Level</label>
                        </div>

                    </div>
                </div>

                <div class="pb-2">
                    <h4>Options</h4>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-3"></div>
                    <div class="column is-9 text-left">

                        <div class="field">
                            <input id="optionPublicCharacter" type="checkbox" name="optionPublicCharacter" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="optionPublicCharacter">Publicly Visible</label>
                            <p id="optionPublicCharacterInfo" class="help is-info is-italic text-center is-hidden">Anyone can view the character using the sheet URL.</p>
                        </div>

                        <div class="field">
                            <input id="optionAutoDetectPreReqs" type="checkbox" name="optionAutoDetectPreReqs" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="optionAutoDetectPreReqs">Auto-Detect Prerequisites</label>
                        </div>

                        <div class="field">
                            <input id="optionAutoHeightenSpells" type="checkbox" name="optionAutoHeightenSpells" class="switch is-small is-rounded is-outlined is-info optionSwitch" value="1">
                            <label for="optionAutoHeightenSpells">Auto-Heighten Spells</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
