
{{#section 'header'}}
	<script src="/js/homePage.js"></script>
	<link rel="stylesheet" href="/css/homePage.css">
    <style>
		.banner_w3lspvt-1 {
			background-image: url("{{background.artworkURL}}"), url('../images/fb_back.png');
			opacity: 0;
		}
	</style>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/" class="active">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}

<div class="banner_w3lspvt-1">
	<div class="w3ls_banner_txt text-center">
        {{#if user}}
            <h3 class="w3ls_pvt-title has-text-white text-uppercase">Create Your Character</h3>
		    <p>
                With endless possibilities, build the unique hero <br> that you envision them to be!
            </p>
		    <a href="/profile/characters" style="max-width: 150px;" class="btn button-style mt-sm-3">Create</a>
        {{else}}
            <h3 class="w3ls_pvt-title has-text-white text-uppercase">Need An Account?</h3>
		    <p>
                Wanderer's Guide offers you one of the best character managers <br> for Pathfinder Second Edition, completely free.
            </p>
		    <a href="/auth/login" style="max-width: 150px;" class="btn button-style mt-sm-3">Register</a>
        {{/if}}
	</div>
	<a class="banner-1-artist" rel="author" target="_blank" href="{{background.artistPage}}"><span class="icon"><i class="fas fa-paint-brush"></i></span> <span>{{background.name}}</span></a>
	<span id="backReportBtn" class="banner-1-image-report cursor-clickable icon" name="{{background.id}}"><i class="fas fa-exclamation-circle"></i></span>
</div>

<div class="what py-5" id="about_wanderers_guide">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="title-w3 mb-2 text-center has-text-weight-bold has-text-grey-light">What is Wanderer's Guide?</h3>
		<p class="text-center mb-4">
			Wanderer's Guide is a semi-automated character manager for Pathfinder Second Edition. Designed for desktop and tablets, Wanderer's Guide has an interactive inventory, conditions, and spells management system. Character building in Wanderer's Guide is intuitive and easier than ever, try it out for yourself!
		</p>
			
		<h3 class="title-w2 mb-1 text-center has-text-weight-semibold has-text-grey-light">Pathfinder 2e and License</h3>
		<p class="text-center mb-3">
			This website uses trademarks and/or copyrights owned by Paizo Inc., which are used under Paizo's Community Use Policy. We are expressly prohibited from charging you to use or access this content. This website is not published, endorsed, or specifically approved by Paizo Inc. For more information about Paizo's Community Use Policy, please visit paizo.com/communityuse. For more information about Paizo Inc. and Paizo products, please visit paizo.com.
			<br>
			Wanderer's Guide is produced under the <a href="/license" class="has-text-info">Open Game License 1.0a</a>.
			<br>
			Pathfinder Second Edition contains an enormous amount of content, as such, there are a few features with ambiguous wording. In these cases, we try to follow the ruling of what the community generally agrees upon (we may also adjust the feature's wording to support this). If there is any doubt on how a mechanic or feature works, we highly recommend referring back to the source books. In addition, Wanderer's Guide contains features which are not included in offical Pathfinder Second Edition source material. These features are included in cases where we believe such content was missing in the source material and will be replaced by offical content if it is made available in the future.
		</p>

		<h3 class="title-w2 mb-1 text-center has-text-weight-semibold has-text-grey-light">Artwork</h3>
		<p class="text-center">
			Wanderer's Guide does not own any of the background artwork above.
		</p>
		<!--We have been given permission by the artists to use their work on our site.-->
		<p class="text-center mb-3">
			The creator of each piece has their name in the bottom right corner, which links to their website.
		</p>

	</div>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-size-4 has-text-light">Report Background</p>
            <button class="delete modal-card-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
			<div class="field">
                <div class="control">
                    <input id="inputEmail" class="input" type="text" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea id="reportMessage" class="textarea" maxlength="500" placeholder="What's the problem?"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot is-paddingless p-3 field is-grouped is-grouped-centered">
            <p class="control">
                <a class="button is-danger is-outlined" id="report-confirmation-btn">Report</a>
            </p>
        </footer>
    </div>
</div>