
{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_browse'}}
    <li class="mr-lg-4 mr-md-3"><a href="/browse"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}


<div class="container mt-5 pt-3">
    <div class="columns is-centered is-mobile">
        <div class="column is-8 box p-4">
            <div class="columns is-centered is-mobile">
                <div class="column is-4">
                    <figure class="image is-128x128 is-pulled-right">
                        <img class="is-rounded" src="{{user.thumbnail}}" alt="Profile Image">
                        <p class="has-text-centered is-size-7 pt-1">ID #{{user.id}}</p>
                    </figure>
                </div>
                <div class="column is-8">
                    <p class="is-size-3">{{user.username}}'s Profile</p>
                    {{#ifEqual user.isDeveloper 1}}
                        <p class="is-italic is-size-6 pl-4">Developer</p>
                    {{/ifEqual}}
                    {{#ifEqual user.isAdmin 1}}
                        <p class="is-italic is-size-6 pl-4">Admin</p>
                    {{/ifEqual}}
                    {{#ifEqual user.isPatreonSupporter 1}}
                        {{#ifEqual user.isPatreonMember 1}}
                            <p class="is-italic is-size-6 pl-4">Patron - Wanderer</p>
                        {{/ifEqual}}
                        {{#ifEqual user.isPatreonMember 0}}
                            <p class="is-italic is-size-6 pl-4">Patron - Advocate</p>
                        {{/ifEqual}}
                    {{/ifEqual}}
                    {{#ifEqual user.isPatreonSupporter 0}}
                        <p class="is-italic is-size-6 pl-4">Non-Patron</p>
                    {{/ifEqual}}
                </div>
            </div>

            <div class="text-center mt-5 pt-2">
                {{#if isPatreonConnected}}
                    <a class="button is-info is-outlined" href="{{patreonAuthURL}}"><span class="icon"><i class="fab fa-patreon"></i></span><span>Refresh Patreon Link</span></a>
                {{else}}
                    <a class="button is-info" href="{{patreonAuthURL}}"><span class="icon"><i class="fab fa-patreon"></i></span><span>Connect to Patreon</span></a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
